.marketing-banner {
  background-color: black;
  color: white;
  display: flex;
  font-family: $secondary-typeface;
  justify-content: center;
  align-items: center;
  margin: 0 auto 3vw auto;
  max-width: 730px;

  @include mobile {
    margin: 2rem 1rem;
    flex-direction: column;
    text-align: center;
    svg {
      display: none;
    }
  }

  svg {
    margin-top: 1rem;
    width: 39rem;
  }

  .marketing-banner-content {
    padding: 3rem;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
  }

  a {
    width: 280px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    background: transparent linear-gradient(115deg, #00D2CA 0%, #C52EFF 50%, #D907E2 100%) 0% 0% no-repeat padding-box;
    border-radius: 41px;
    padding: 1.2rem;
    white-space: nowrap;
    margin-right: 3rem;

    &:hover {
      color: white;
    }

    @include mobile {
      max-width: 50vw;
      font-size: 1.5rem;
      margin-right: 0;
      margin-bottom: 4rem;
      align-self: center;
    }
  }
}
