<%= if Application.get_env(:tilex, :marketing_banner_text) do %>
  <div class="marketing-banner">
    <%= svg_tag("assets/static/images/shuttle-launch.svg") %>
    <div class="marketing-banner-content">
      <%= Application.get_env(:tilex, :marketing_banner_text) %>
    </div>
    <a href="#">
      Join the Waitlist
    </a>
  </div>
<% end %>
