<%= if Application.get_env(:tilex, :marketing_banner_text) do %>
  <div class="marketing-banner">
    <%= svg_tag("assets/static/images/shuttle-launch.svg") %>
    <div class="marketing-banner-content">
      <%= Application.get_env(:tilex, :marketing_banner_text) %>
    </div>
    <%= link("Join the Waitlist", to: waitlist_path(@conn, :index)) %>
  </div>
<% end %>
